.game-icon {
    margin-top: 6rem;
}
    .game-icon i {
        font-size: 20rem;
        color: #D84315;
    }

.title {
    margin-top: -4rem;
    font-size: 3rem;
    color: #FBC02D;
}

.btn-start {
    margin-top: 2rem;
    width: 30rem;
    height: 5.4rem;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    background-color: #FDD835;
    border-radius: .6rem;
}

    .btn-start:hover {
        background-color: #FBC02D;
    }
